.MainTodoList {
  text-align: center;
  list-style-type: none;
  
  padding: .2em;

}
.listSection, .MainTodoList  {
  background-color: #ffffff42;
  border-radius: 10px;
 
}

.listSection {
  
 
  margin: 1em 10em;
}

